ApiColmenaSeguros/appsettings.Development.json
ApiColmenaSeguros/.vs
ApiColmenaSeguros/bin
ApiColmenaSeguros/obj
Contratos/bin
Contratos/obj
Negocio/bin
Negocio/obj
Datos/bin
Datos/obj
Seguridad/bin
Seguridad/obj
ApiColmenaSeguros/appsettings.Development.json
